@charset "utf-8";
//全局样式
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;font-weight: normal;}
body,button,input,select,textarea{font:13px/200% Arial,Verdana,"微软雅黑";color: #444;}
input{outline:0}
address,cite,dfn,em,var{font-style:normal}
small{font-size:12px}
ol,ul{list-style-type:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
img{border:0;display: inline-block;}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
.clear{clear:both;float:none;height:0;overflow:hidden}
fieldset{border:1px solid #d6d6d6}
i{display: block}
//大范围重用样式
.ml-5{margin-left: 5px;}
.mr-5{margin-right: 5px;}
.mt-5{margin-top: 5px;}
.mb-5{margin-bottom: 5px;}
.mc-5{margin: 5px 0;}
.ms-5{margin: 0 5px;}
.ml-10{margin-left: 10px;}
.mr-10{margin-right: 10px;}
.mt-10{margin-top: 10px;}
.mb-10{margin-bottom: 10px;}
.mc-10{margin: 10px 0;}
.ms-10{margin: 0 10px;}
.ml-15{margin-left: 15px;}
.mr-15{margin-right: 15px;}
.mt-15{margin-top: 15px;}
.mb-15{margin-bottom: 15px;}
.mc-15{margin: 15px 0;}
.ms-15{margin: 0 15px;}
.ml-20{margin-left: 20px;}
.mr-20{margin-right: 20px;}
.mt-20{margin-top: 20px;}
.mb-20{margin-bottom: 20px;}
.mc-20{margin: 20px 0;}
.ms-20{margin: 0 20px;}
.pl-5{padding-left: 5px;}
.pr-5{padding-right: 5px;}
.pt-5{padding-top: 5px;}
.pb-5{padding-bottom: 5px;}
.pc-20{padding: 5px 0;}
.ps-20{padding: 0 5px;}
.pl-10{padding-left: 10px;}
.pr-10{padding-right: 10px;}
.pt-10{padding-top: 10px;}
.pb-10{padding-bottom: 10px;}
.pc-10{padding: 10px 0;}
.ps-10{padding: 0 10px;}
.pl-15{padding-left: 15px;}
.pr-15{padding-right: 15px;}
.pt-15{padding-top: 15px;}
.pb-15{padding-bottom: 15px;}
.pc-15{padding: 15px 0;}
.ps-15{padding: 0 15px;}
.pl-20{padding-left: 20px;}
.pr-20{padding-right: 20px;}
.pt-20{padding-top: 20px;}
.pb-20{padding-bottom: 20px;}
.pc-20{padding: 20px 0;}
.ps-20{padding: 0 20px;}
.fl{float: left;}
.fr{float: right;}

