@charset "UTF-8";
/*!
Author:  前小端 
Author url: http://blog.qianxiaoduan.com/
*/
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0; padding: 0; font-weight: normal; }

body, button, input, select, textarea { font: 14px/200% Arial,Verdana,"微软雅黑"; color: #444; }

input { outline: 0; }

address, cite, dfn, em, var { font-style: normal; }

small { font-size: 12px; }

ol, ul { list-style-type: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

legend { color: #000; }

img { border: 0; display: inline-block; }

button, input, select, textarea { font-size: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

.clear { clear: both; float: none; height: 0; overflow: hidden; }

fieldset { border: 1px solid #d6d6d6; }

i { display: inline-block; }

.overflow { overflow: hidden; }

.clearfix { *zoom: 1; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.ml-5 { margin-left: 5px; }

.mr-5 { margin-right: 5px; }

.mt-5 { margin-top: 5px; }

.mb-5 { margin-bottom: 5px; }

.mc-5 { margin-top: 5px; margin-bottom: 5px; }

.ms-5 { margin-left: 5px; margin-right: 5px; }

.ml-10 { margin-left: 10px; }

.mr-10 { margin-right: 10px; }

.mt-10 { margin-top: 10px; }

.mb-10 { margin-bottom: 10px; }

.mc-10 { margin-top: 10px; margin-bottom: 10px; }

.ms-10 { margin-left: 10px; margin-right: 10px; }

.ml-15 { margin-left: 15px; }

.mr-15 { margin-right: 15px; }

.mt-15 { margin-top: 15px; }

.mb-15 { margin-bottom: 15px; }

.mc-15 { margin-top: 15px; margin-bottom: 15px; }

.ms-15 { margin-left: 15px; margin-right: 15px; }

.ml-20 { margin-left: 20px; }

.mr-20 { margin-right: 20px; }

.mt-20 { margin-top: 20px; }

.mb-20 { margin-bottom: 20px; }

.mc-20 { margin-top: 20px; margin-bottom: 20px; }

.ms-20 { margin-left: 20px; margin-right: 20px; }

.pl-5 { padding-left: 5px; }

.pr-5 { padding-right: 5px; }

.pt-5 { padding-top: 5px; }

.pb-5 { padding-bottom: 5px; }

.pc-20 { padding: 5px 0; }

.ps-20 { padding: 0 5px; }

.pl-10 { padding-left: 10px; }

.pr-10 { padding-right: 10px; }

.pt-10 { padding-top: 10px; }

.pb-10 { padding-bottom: 10px; }

.pc-10 { padding: 10px 0; }

.ps-10 { padding: 0 10px; }

.pl-15 { padding-left: 15px; }

.pr-15 { padding-right: 15px; }

.pt-15 { padding-top: 15px; }

.pb-15 { padding-bottom: 15px; }

.pc-15 { padding: 15px 0; }

.ps-15 { padding: 0 15px; }

.pl-20 { padding-left: 20px; }

.pr-20 { padding-right: 20px; }

.pt-20 { padding-top: 20px; }

.pb-20 { padding-bottom: 20px; }

.pc-20 { padding: 20px 0; }

.ps-20 { padding: 0 20px; }

.fl { float: left; }

.fr { float: right; }

.center { text-align: center; }

@keyframes filp { 0% { opacity: 0; transform: perspective(400px) rotate3d(0, 1, 0, 90deg); }
  40% { transform: perspective(400px) rotate3d(0, 1, 0, -20deg); transition-timing-function: ease-in; }
  60% { opacity: 1; transform: perspective(400px) rotate3d(0, 1, 0, 10deg); }
  80% { transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  100% { transform: perspective(400px); } }
a { text-decoration: none; color: #444; }
a:hover { color: #0078d7; }

.min-width { min-width: 1200px; }

.w-100b { background: #eee; }

.container { width: 1200px; margin: 0 auto; position: relative; }
.container:after { content: ""; display: block; clear: both; }

.logo { float: left; padding: 10px 0; width: 200px; }

.logo-r { float: left; padding-left: 50px; }

.tel { float: right; }

.n-left { width: 200px; float: left; padding-right: 10px; }

.n-right { width: 990px; float: left; }

.header { width: 1200px; padding: 10px 0; overflow: hidden; margin: 0 auto; }

.w-nav { width: 100%; background: #777; min-width: 1200px; }

.nav { width: 1200px; margin: auto; height: 50px; line-height: 50px; }
.nav ul li { float: left; position: relative; text-align: center; position: relative; }
.nav ul li a { font-size: 15px; width: 150px; display: block; color: #fff; -webkit-transition: all 0.3s; -o-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; height: 100%; }
.nav ul li ul { width: 100%; display: none; position: absolute; overflow: hidden; z-index: 9; background: #333; opacity: 0.8; filter: alpha(opacity=80); display: none; }
.nav ul li ul li { height: 40px; width: 100%; line-height: 40px; }
.nav ul li ul li a { height: 40px; width: 100%; }
.nav ul li ul li:hover { background: #222; }
.nav ul li:hover a { background: #666; background: rgba(0, 0, 0, 0.3); }
.nav ul li:hover ul { display: block; }
.nav ul li.this a { background: #666; background: rgba(0, 0, 0, 0.3); }

.tab-left { width: 200px; float: left; padding-right: 15px; }
.tab-left ul li { width: 100%; background: #d5d5d5; border-bottom: 1px solid #fff; position: relative; }
.tab-left ul li a { display: block; width: 100%; height: 40px; line-height: 40px; text-align: center; font-size: 14px; }
.tab-left ul li i { border-left: 10px solid #fff; width: 0; height: 0; border-top: 8.33333px solid transparent; border-bottom: 8.33333px solid transparent; z-index: 0; position: absolute; z-index: 1; top: 12px; left: 27px; }
.tab-left ul li.this { background: #0078d7; }
.tab-left ul li.this a { color: #fff; }

.tab-right { width: 985px; float: left; overflow: hidden; }

.tab-rightn { width: 9850px; overflow: hidden; }

.tab-con { width: 985px; float: left; }

.n-tab-left { width: 200px; }
.n-tab-left ul li { width: 100%; border-bottom: 1px solid #fff; position: relative; background: #fff; }
.n-tab-left ul li a { display: block; width: 100%; height: 43px; line-height: 43px; text-align: center; font-size: 15px; }
.n-tab-left ul li i { border-left: 11px solid #e5e2e2; width: 0; height: 0; border-top: 9.16667px solid transparent; border-bottom: 9.16667px solid transparent; z-index: 0; position: absolute; z-index: 1; top: 12px; left: 27px; }
.n-tab-left ul li:hover { background: #0078d7; }
.n-tab-left ul li:hover a { color: #fff; }

.gd { width: 100%; height: auto; overflow: hidden; position: relative; }
.gd img { width: 100%; }

.gd_prev { height: 70px; font-size: 40px; line-height: 70px; position: absolute; top: 50%; left: 0; z-index: 9; font-family: "宋体"; background: #0078d7; color: #fff; cursor: pointer; margin-top: -35px; }

.gd_next { height: 70px; font-size: 40px; line-height: 70px; position: absolute; top: 50%; right: 0; z-index: 9; font-family: "宋体"; background: #0078d7; color: #fff; cursor: pointer; margin-top: -35px; }

.gd_main { width: 10000px; overflow: hidden; position: relative; z-index: 1; }
.gd_main .gd_main_div { width: 1200px; float: left; }
.gd_main .gd_main_div div { width: calc((100% / 4) - 20px); padding: 0 10px; display: block; float: left; }
.gd_main .gd_main_div div a { display: block; }

.gd_main_a2 { width: 100%; height: 25px; text-align: center; line-height: 25px; background: #d6d6d6; display: block; }

.demo { background: #FFF; overflow: hidden; width: 100%; }
.demo img { border: 5px solid #fff; }

.indemo { float: left; width: 800%; overflow: hidden; }

.demo1 { float: left; }
.demo1 a { display: block; width: 240px; float: left; margin-right: 10px; }
.demo1 a img { float: left; padding: 3px; border: 1px solid #d6d6d6; width: 234px; overflow: hidden; }
.demo1 a span { float: left; font-size: 12px; text-align: center; width: 100%; }

.demo2 { float: left; }
.demo2 a { display: block; width: 240px; float: left; margin-right: 10px; }
.demo2 a img { float: left; padding: 3px; border: 1px solid #d6d6d6; width: 234px; overflow: hidden; }
.demo2 a span { float: left; font-size: 12px; text-align: center; width: 100%; }

.news { width: 390px; float: left; }
.news img { width: 100%; }
.news ul { padding-top: 10px; }
.news ul li { width: 100%; overflow: hidden; font-size: 14px; line-height: 28px; height: 28px; }
.news ul li i { width: 4px; float: left; height: 4px; background: #444444; border-radius: 4px; margin: 14px 6px 0 5px; }
.news ul li a { float: left; width: 70%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.news ul li span { float: right; font-size: 12px; color: #777; }
.news ul li:hover i { background: #0078d7; }

.link { width: 1198px; border: 1px solid #d6d6d6; margin: 10px auto; overflow: hidden; padding: 10px 0; }
.link a { width: 120px; display: block; float: left; padding: 5px 0 5px 10px; }

.link:before { text-align: center; width: 200px; height: 100px; content: "友情链接"; float: left; line-height: 100px; font-size: 16px; border-right: 1px solid #d6d6d6; }

.bottom { width: 100%; padding: 20px 0; overflow: hidden; background: #272727; min-width: 1200px; }

.bot1 { padding: 0 30px; float: left; }
.bot1 ul { padding-top: 10px; }
.bot1 ul li { line-height: 28px; }
.bot1 ul li a { color: #ccc; }
.bot1 ul li a:hover { color: #0078d7; text-decoration: underline; }

.code { width: 130px; float: right; padding: 0 10px; }
.code p { text-align: center; color: #bbb; }
.code img { width: 100%; }

.bottom1 { width: 100%; padding: 10px 0; overflow: hidden; background: #efeeed; min-width: 1200px; z-index: 9; position: relative; }
.bottom1 .bot-p1 { width: 500px; float: left; }
.bottom1 .bot-p2 { float: right; }
.bottom1 .bot-p2 a { padding-right: 10px; }

.cnzz { text-align: center; line-height: 0; line-height: 20px; float: right; position: absolute; bottom: 0; right: 0; }
.cnzz a { height: 20px; display: inline-block; vertical-align: text-top; }
.cnzz a i { float: left; width: 20px; }
.cnzz a span { height: 20px; display: inline-block; line-height: 20px; }

.qq { position: fixed; top: 40%; right: 0; overflow: hidden; }

.flexslider { position: relative; width: 100%; height: 480px; overflow: hidden; zoom: 1; margin-bottom: 15px; background: #eee; }
.flexslider .slides li { width: 100%; height: 100%; }
.flexslider .slides li a { width: 100%; height: 480px; display: block; }

.flex-direction-nav a { width: 70px; height: 70px; text-align: center; color: #eee; font-size: 60px; line-height: 70px; font-family: '宋体'; overflow: hidden; margin: -35px 0 0; display: block; position: absolute; top: 50%; z-index: 10; cursor: pointer; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all .3s ease; }
.flex-direction-nav .flex-next { right: 0; -webkit-transition: all 0.2s; -o-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
.flex-direction-nav .flex-prev { left: 0; -webkit-transition: all 0.2s; -o-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }

.flexslider:hover .flex-next { opacity: 0.7; filter: alpha(opacity=70); }
.flexslider:hover .flex-prev { opacity: 0.7; filter: alpha(opacity=70); }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; filter: alpha(opacity=100); }

.flex-control-nav { width: 100%; position: absolute; bottom: 10px; text-align: center; }
.flex-control-nav li { margin: 0 3px; display: inline-block; zoom: 1; *display: inline; }

.flex-control-paging li a { height: 11px; width: 11px; border-radius: 11px; background: #bbb; background: rgba(0, 0, 0, 0.3); display: block; overflow: hidden; cursor: pointer; line-height: 99em; }

.flex-control-paging li a.flex-active, .flex-control-paging li.active a { background: #0078d7; }

.paging { width: 100%; padding: 20px 0; text-align: center; line-height: 40px; }
.paging a { padding: 3px 10px; font-size: 13px; margin: 0 1px; }
.paging .active { color: #0078d7; background: #ddd; }

.paga { border: 1px solid #d6d6d6; color: #0078d7; -webkit-transition: all 0.2s; -o-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
.paga:hover { color: #fff; background: #0078d7; }

@font-face { font-family: 'icomoon'; src: url("fonts/icomoon.eot?s4ktjp"); src: url("fonts/icomoon.eot?s4ktjp#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?s4ktjp") format("truetype"), url("fonts/icomoon.woff?s4ktjp") format("woff"), url("fonts/icomoon.svg?s4ktjp#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*# sourceMappingURL=style.css.map */
